
body {
    background: linear-gradient(to right, #f9cbac, #f7f7f1);
    min-height: 100vh;
    margin: 0;
    padding: 0;

    background-image: url("/static/images/bg_bigdata.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.header {
    background: linear-gradient(90deg, #4b0082 0%, #8b00ff 50%, #ff6bd5 100%);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}
.container {
    background-color: rgba(130, 180, 201, 0.9);
    padding: 2rem;
    border-radius: 10px;
    margin-top: 2rem;
}
footer {
    background-color: rgba(80, 129, 242, 0.9);
    padding: 1rem 0;
    margin-top: 2rem;
    color: #666;
}